:root {
    --background: rgba(198, 96, 249, 0.543);
}

html {
    scroll-behavior: smooth;
    font-size: 2.5vh;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    /* letter-spacing: 1px; */
    /* background-color: var(--background); */
    overflow-x: hidden;
    animation: fadeInOpacity 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .25s;
    background-color: var(--background);
}

/* section {
    scroll-margin-top: -10vh;
} */

.bodyHeader {
    display: flex;
    width: 100%;
    justify-content: center;
}

.bodyHeader img {
    margin: 10px;
    height: fit-content;
    border-radius: 100%;
    height: 10vh;
}