@media (max-width: 1300px) {
    .about {
        margin-top: -10vh;
        padding-top: 10vh;
    }

    .about .section {
        max-width: 80vw;
        flex-direction: column;
        gap: 2vh;
    }

    .about .right {
        order: -1;
        margin: auto;
    }

    .about .left {
        width: 100%;
    }
    
    .btn-top {
        max-width: none;
    }
}

@media (max-width: 920px) {
    html {
        font-size: 2vh;
    }

    .home .button button {
        font-size: 1.5rem;
    }

    .home .left img {
        max-width: 80vw;
        max-height: 70vh;
    }
}

@media (max-width: 720px) {
    .home .left img {
        max-width: 60vw;
        max-height: 60vh;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 3.2vw;
    }

    .bodyHeader img {
        margin: 5px 0 10px;
        height: 6vh;
    }

    .home {
        flex-direction: column;
        height: auto;
    }

    .home .left {
        justify-content: center;
    }

    .home .left img {
        max-width: 80vw;
        max-height: 40vh;
    }

    .home .right {
        /* justify-content: center; */
        align-items: center;
        margin: 0 auto;
        height: fit-content;
    }

    .home .right h2 {
        margin: 1vh 5vw;
    }

    .home .button {
        height: 3.5rem;
    }

    .home .button button {
        font-size: 2rem;
    }

    .btn-top {
        left: 50%;
        max-width: 100%;
        width: 54vw;
        margin-left: 0;
        margin-top: none;
        transform: translateX(-50%)
    }

    .about .section {
        max-width: 80vw;
        flex-direction: column;
        gap: 2vh;
        margin-top: -5vh;
    }

    .about .right {
        order: -1;
        width: 80%;
        margin: auto;
    }

    .about .left {
        width: 100%;
    }

    .comments .section {
        padding-top: 0vh;
        margin-top: 0vh;
    }

    .comments ul {
        flex-direction: column;
    }

    .comments ul li {
        width: 80vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5vw;
    }

    .comments ul li img {
        height: 30vw;
    }

    footer {
        flex-direction: column;
        gap: 0;
    }
    
    footer p {
        text-align: center;
    }

    footer .links {
        order: -1;
    }

    footer div2 {
        order: 1;
    }


}