

/* HOME */

.home {
    display: flex;
    justify-content: center;
    height: 80vh;
    /* padding: 50px; */
}

.home .left {
    display: flex;
    position: relative;
    justify-content: right;
}

.home .left img {
    border-radius: 5%;
    box-shadow: 5px 5px 20px;
}

.home .right {
    display: flex;
    flex-direction: column;
    max-width: 60vh;
    height: 70vh;
    padding: 1vh;
    /* justify-content: center; */
    align-items: center;
}

.home .right h1 {
    font-size: 2rem;
    text-align: center;
    /* margin-bottom: 50px; */
}

.home .right h2 {
    font-size: 1.2rem;
    margin: 2vh;
    max-width: 100%;
}

.home .button {
    display: flex;
    width: 80%;
    justify-content: center;
    height: 3rem;
}

.home .button button {
    font-size: 2rem;
    background-color: mediumpurple;
    padding: 1vh;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    /* margin: auto; */
    /* transition: 1s; */
    height: fit-content;
}

.btn-top {
    display: block;
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 10;
    max-width: 30%;
    margin-left: 2vh;
    margin-top: 1vh;
}

.home .right p {
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
}

/* ABOUT */

.about {
    background-color: white;
    margin-top: -20vh;
    width: 100vw;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .section {
    max-width: 70vw;
    display: flex;
    gap: 2vw;
    margin-top: 2vh;
}

.about .left {
    width: 50%;
}

.about .description h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 20px;
}

.about .description h2 {
    font-size: 1.2rem;
    text-align: justify;
}

.about .right {
    display: flex;
    width: 40%;
    align-items: center;
}


.about .right img {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
}

/* COMMENTS */

.comments {
    min-height: 50vh;
    background-color: white;
}

.comments .section {
    background-color: var(--background);
    height: 500px;
    padding-top: 5vh;
    margin-top: 5vh;
}

.comments h1 {
    font-size: 2rem;
    text-align: center;
}

.comments ul {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    margin-top: 5vh;
    gap: 5vw;
}

.comments ul li {
    width: 20vw;
    text-align: center;
}

.comments ul li img {
    height: 20vh;
    border-radius: 20px;
}

.comments ul li h1 {
    font-size: 1.3rem;
    color: orangered;
}